<div class="row">
  <div class="col-md-6">

    <h2>Here are your lists:</h2>
      <% if @lists == nil %>
        <h4> None </h4>
      <% end %>
      <ul>
        <% @lists.each do |list| %>
          <li class="list">
            <a href="/lists/tasks/<%= list.id %>"> <%= list.name %></a>
          </li>
        <% end %>
      </ul>

  </div>


  <div class="col-md-6">
    <h2><%= @list.name %> tasks:</h2>
      <% if @tasks == nil %>
        <h4> None </h4>
      <% end %>
     <table>
      <% @list.tasks.each do |task| %>
        <tr>
          <% if task.completed == false %>
          <td>
            <a href="/tasks/done/<%= @list.id%>/<%= task.id %>">
              <span class="glyphicon glyphicon-ok" id="complete">  </span>
            </a>
            <a href="/tasks/edit/<%= @list.id%>/<%= task.id %>">
              <span class="task_item"><%= task.name %></span>
            </a>
            <a href="/tasks/<%= @list.id%>/<%= task.id %>"
              data-method="delete"
              rel="nofollow">
              <span class="glyphicon glyphicon-remove" id="delete">  </span>
            </a>
          </td>
        </tr>
          <% end %>
        <% end %>
          <% @list.tasks.each do |task| %>
            <tr>
              <% if task.completed == true %>
              <td>
              <span class="task_item" id="done"><%= task.name %></span>
              <a href="/tasks/<%= @list.id%>/<%= task.id %>"
              data-method="delete"
              rel="nofollow">
              <span class="glyphicon glyphicon-remove" id="delete">  </span>
            </a>
            </td>
          <% end %>
          <% end %>
    </table>

    <form role="form" action="/tasks/<%= @list.id %>/<%= @task.id %>" method="post" class="forms">
      <input name="_method" type="hidden" value="patch">
      <div class="form-group">
        <label name="new_list">Rename Task:</label>
        <input id="new_list" name="name" type="text" class="form-control" value="<%= @task.name %>">
      </div>
      <button class="btn btn-primary">Update!</button>
    </form>

    <a href="/"> <button id="return" class="btn btn-success">Return to Lists </button> </a>

  </div>
</div>
