
<div class="row">
  <div class="col-md-6">

    <h2>Here are your lists:</h2>
      <% if @lists == nil %>
        <h4> None </h4>
      <% end %>
      <table>
      <% @lists.each do |list| %>
        <tr>
          <td>
            <a href="/lists/tasks/<%= list.id %>" class="list"> <%= list.name %></a>
            <a href="/list/<%= list.id %>"
              data-method="delete"
              rel="nofollow">
              <span class="glyphicon glyphicon-remove" id="delete">  </span>
            </a>
          </td>
        </tr>
      <% end %>
    </table>

  </div>


  <div class="col-md-6">
    <h2><%= @list.name %> tasks:</h2>
      <% if @list.tasks.first == nil %>
        <h4> None </h4>
      <% end %>
    <table>
      <% @list.tasks.each do |task| %>
        <tr>
          <% if task.completed == false %>
          <td>
            <a href="/tasks/done/<%= @list.id%>/<%= task.id %>">
              <span class="glyphicon glyphicon-ok" id="complete">  </span>
            </a>
            <a href="/tasks/edit/<%= @list.id%>/<%= task.id %>">
              <span class="task_item"><%= task.name %></span>
            </a>
            <a href="/tasks/<%= @list.id%>/<%= task.id %>"
              data-method="delete"
              rel="nofollow">
              <span class="glyphicon glyphicon-remove" id="delete">  </span>
            </a>
          </td>
        </tr>
          <% end %>
        <% end %>
          <% @list.tasks.each do |task| %>
            <tr>
              <% if task.completed == true %>
              <td>
              <span class="task_item" id="done"><%= task.name %></span>
              <a href="/tasks/<%= @list.id%>/<%= task.id %>"
              data-method="delete"
              rel="nofollow">
              <span class="glyphicon glyphicon-remove" id="delete">  </span>
            </a>
            </td>
          <% end %>
          <% end %>
    </table>

    <form role="form" action="/tasks/<%= @list.id %>" method="post" class="forms">
      <div class="form-group">
        <label name="new_list">New Task:</label>
        <input id="new_list" name="name" type="text" class="form-control">
      </div>
      <button class="btn btn-primary">Add Task!</button>
    </form>

    <a href="/"> <button id="return" class="btn btn-success">Return to Lists </button> </a>

    <% if @task.persisted? %>
      <h4 class="error" id="green"> Task Saved! </h4>
    <% elsif @task.errors.any? %>
      <h4 class="error" id="red"> <%= @task.errors.full_messages.each {|message| puts message } %> </h4>
    <% end %>

  </div>
</div>

